@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Fira Code", monospace, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
